.btn {
    cursor: pointer;
    display: flex;
    position: relative;
    padding: 0.5rem;
    vertical-align: center;
    width: fit-content;

    overflow: hidden;

    border-width: 0;
    outline: none;
    border-radius: .2rem;
    box-shadow: 0 0 0 .2rem rgba(0, 23, 0, 0.8);

    background-color: #236932;
    color: #002300;

    transition: background-color .3s;
}

.btn:hover, .btn:focus {
    background-color: #329632;
}

form > .btn {
    display: inline;
    box-shadow: none;
    font-size: inherit;
}

.gbtn {
    padding-left: 2rem;
    background-image: url(../images/g_icon.svg);
    background-position-y: center;
    background-position-x: .5rem;
    background-repeat: no-repeat;
}
