.btn {
    cursor: pointer;
    display: inline-flex;
    place-items: center;
    padding: var(--gap);
    width: fit-content;

    border-width: 0;
    outline: none;
    border-radius: var(--border-radius);
    box-shadow: 0 0 0 .1rem rgba(0, 23, 0, 0.8);

    background-color: #236932;
    color: var(--color-dark);

    transition: background-color .3s;
}

.btn:hover, .btn:focus {
    background-color: var(--color-light);
}

form > .btn {
    display: inline;
    box-shadow: none;
    font-size: inherit;
}

.gbtn {
    padding-left: 2rem;
    background-image: url(../images/g_icon.svg);
    background-position-y: center;
    background-position-x: var(--gap);
    background-repeat: no-repeat;
}
