:root {
    --color-dark: #003200;
    --color-light: #329632;
    --gap: .5rem;
    --border-radius: .2rem;
    --border-color: rgba(0, 32, 0, 0.69);
}

body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    background: #236932;
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
}

@media screen and (max-device-width: 480px) {
    body {
        font-size: x-large;
    }
}

header {
    color: var(--color-light);
    background: var(--color-dark);
    padding: 0 var(--gap);
    display: grid;
    gap: var(--gap);
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

header > div, header > img {
    display: flex;
}

header img {
    width: 7vh;
    min-width: 32px;
}

div#user {
    gap: var(--gap);
    align-items: center;
    justify-content: flex-end;
}

div#profile {
    text-align: right;
}

input[type=text] {
    padding: var(--gap);
    box-sizing: border-box;
    border: 2px solid var(--color-dark);
    border-radius: var(--border-radius);
    font-size: inherit;
}

input[name=search_input] {
    padding: var(--gap) 0 var(--gap) 2rem;
    background-image: url(../images/g_drive.svg);
    background-position-y: center;
    background-repeat: no-repeat;
}

div#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
    gap: var(--gap)
}

div#info {
    position: absolute;
    bottom: 0;
    left: 25vw;
    width: 50vw;
    padding: var(--gap);
    display: flex;
    justify-content: center;
    background: #69AA69;
    border-radius: .2rem;
    box-shadow: 0 0 0 .2rem rgba(0, 23, 0, 0.8);
    z-index: 69;
}

div#info > button {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    font-size: inherit;
}

.error {
    background-color: #d50000 !important;
}

.hidden {
    display: none !important;
}

.inline {
    display: inline !important;
}

#file_explorer {
    text-align: center;
}

#content {
    padding: var(--gap);
    gap: var(--gap);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    white-space: pre-wrap;
    overflow: hidden;
}

#expenses_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#expenses {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--gap);
}

#expenses > div {
    display: inline-grid;
    grid-template-columns: 2fr 2fr 3fr 3fr auto;
    gap: 1rem;
    align-items: center;
    border-bottom: 1px var(--border-color) solid;
}

.ctrl {
    align-self: flex-end;
    display: flex;
    gap: var(--gap);
}
